@model dbqn.T115OA.Model.StudentFile

@{
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8">
    <title>学员档案增加--layui后台管理模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <style type="text/css">
		.layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
		
    </style>
    <link id="layuicss-skinlayercss" rel="stylesheet" href="file:///C:/Users/Administrator/Desktop/%E5%B8%82%E5%9C%BA%E9%83%A8%E5%90%8E%E5%A4%A9%E7%AE%A1%E7%90%86%E6%A8%A1%E7%89%88/layui/css/modules/layer/default/layer.css?v=3.0.3303" media="all">
</head>
<body class="childrenBody">
    <blockquote class="layui-elem-quote news_search" style="text-align:center">
        <div class="layui-inline">
            <p class="search_btn" style="font-size:26px;">学员新增</p>
        </div>
    </blockquote>
    <form class="layui-form" style="width:80%;">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userName" lay-verify="required" placeholder="请输入姓名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名拼音</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="请输入姓名拼音">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block userSex">
                    <input type="radio" name="sex" value="男" title="男" checked=""><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>男</span></div>
                    <input type="radio" name="sex" value="女" title="女"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>女</span></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">学员状态</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="1">
                            未报名
                        </option>
                        <option value="0">报名</option>
                    </select><div class="layui-unselect layui-form-select">
                        <div class="layui-select-title">
                            <input type="text" placeholder="未报名
						" value="未报名
						" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i>
                        </div><dl class="layui-anim layui-anim-upbit">
                            <dd lay-value="1" class="layui-this">
                                未报名
                            </dd>
                            <dd lay-value="0" class="">报名</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userName" lay-verify="required" placeholder="请输入出生日期">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">你的学历</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="-1">其他</option>
                        <option value="0">小学</option>
                        <option value="1">初中</option>
                        <option value="2">高中</option>
                        <option value="3">大学</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="其他" value="其他" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="-1" class="layui-this">其他</dd><dd lay-value="0" class="">小学</dd><dd lay-value="1" class="">初中</dd><dd lay-value="2" class="">高中</dd><dd lay-value="3" class="">大学</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">民族</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入民族">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">身份证</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入身份证">
                </div>
            </div>
        </div>

        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入本人电话号码">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">监护人姓名</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入监护人姓名">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">监护人电话</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入监护人电话">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">身份证的详细地址</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入详细地址">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">现在的家庭住址</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入家庭住址">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">现在的家庭住址</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入家庭住址">
                </div>

            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">费用来源</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否住宿</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="-1">其他</option>
                        <option value="0">走读</option>
                        <option value="1">住宿</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="其他" value="其他" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="-1" class="layui-this">其他</dd><dd lay-value="0" class="">走读</dd><dd lay-value="1" class="">住宿</dd></dl></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">QQ</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入本人QQ号">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">微信</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入本人微信号">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">兴趣</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">特长</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">其他</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">软件了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                        <option value="不了解">不了解</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="无" value="无" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="无" class="layui-this">无</dd><dd lay-value="一般" class="">一般</dd><dd lay-value="了解" class="">了解</dd><dd lay-value="不了解" class="">不了解</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">上网了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                        <option value="不了解">不了解</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="无" value="无" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="无" class="layui-this">无</dd><dd lay-value="一般" class="">一般</dd><dd lay-value="了解" class="">了解</dd><dd lay-value="不了解" class="">不了解</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">有学习过的相关课程嘛</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="有">有</option>
                        <option value="没有">没有</option>
                        <option value="一点点">一点点</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="无" value="无" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="无" class="layui-this">无</dd><dd lay-value="有" class="">有</dd><dd lay-value="没有" class="">没有</dd><dd lay-value="一点点" class="">一点点</dd></dl></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">对系统了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="无" value="无" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="无" class="layui-this">无</dd><dd lay-value="一般" class="">一般</dd><dd lay-value="了解" class="">了解</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否担任过班干部</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="是" value="是" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="是" class="layui-this">是</dd><dd lay-value="否" class="">否</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否需要学校推荐就业</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="是" value="是" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="是" class="layui-this">是</dd><dd lay-value="否" class="">否</dd></dl></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">对系统了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="无" value="无" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="无" class="layui-this">无</dd><dd lay-value="一般" class="">一般</dd><dd lay-value="了解" class="">了解</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否担任过班干部</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="是" value="是" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="是" class="layui-this">是</dd><dd lay-value="否" class="">否</dd></dl></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否需要学校推荐就业</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="是" value="是" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="是" class="layui-this">是</dd><dd lay-value="否" class="">否</dd></dl></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <p>如果现在正在读书请填写下面资料(可填/可不填)</p>
        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">就读的学校</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">班级</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">毕业时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="毕业时间">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="addUser">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>


    </form>
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <script type="text/javascript" src="addUser.js"></script>

</body>
</html>